* {
    font-family: 'Russo One', sans-serif;
    color:#ffee00;
}

.gradient {
    background: -webkit-linear-gradient(left, #332e00 4%, #000000 98%), -webkit-linear-gradient(16deg, rgba(34, 32, 25, 0.5) 54%, rgba(32, 30, 1, 0.5) 100%);
    background: linear-gradient(90deg, #2c2b00 4%, #000000 98%), linear-gradient(74deg, rgba(37, 36, 17, 0.5) 54%, rgba(31, 29, 2, 0.5) 100%);
    background-blend-mode: multiply;
}

.index, .log {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 10%;
    border: #ffffff00 solid 0.1px;
    font-size: larger;
}

.index:hover, .log:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(255,255,0);
    box-shadow: #fff894;
    border: #fffcd78f solid 0.1px;
}

.media {
    display: inline;
    margin: 15px;
    border-radius: 10%;
}

footer {
    width: 98%;
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #583d02;
}

main {
    min-height: 430px;
    width: 98%;
    margin-left: 0.5rem;
}

h1 {
    font-size: x-large;
}

#search_bar {
    padding-top: 10px;
}

#message {
    height: 200px;
    
}

button {
    border-radius: 20%;
    background-color: #ffee00;
    color:#000000;
}

button:hover {
    background-color: #fff894;
    -webkit-box-shadow: -1px 9px 40px -12px rgb(48, 48, 2);
    box-shadow: #fff894;
}

.card {
    min-height: 24rem;
}

.card:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(255,255,0);
    box-shadow: #fff894;
}

.form-mine {
    width: 90%;
    margin: 0.5rem 1rem;
    background-color: #000000;
    border: #2c2b00 0.3px solid;
    color:#fffcd7;
    font-weight: 0.5;
}

.form-mine::placeholder {
    color:#332e00;
}

.form-mine:hover {
    border: #fff894 0.3px solid;
}

.form-mine:focus {
    border: #ffee00 0.3px solid;
}

.card-description {
    color: #fffcd7;
    font-size: small;
}

table {
    border: 0.1rem #fff894 solid;
    width: 70%;
    background-color: #222222;
}

th, td {
    border: 0.1rem #fff894 solid;
    border-collapse: collapse;
    padding: 1rem;
    color: aliceblue;
}

#card-news {
    min-height: 15rem;
}

.index_grand_container_res {
    display: none;
}

@media only screen and (max-width: 875px) {
    .index_grand_container, .log_container {
        display: none;
    }

    .index_grand_container_res {
        display: block;
        width: 100%;
    }

    .index_container_res {
        position: relative;
        left: -50rem;
        transition: all 1s;
    }

    .log .media {
        font-size: smaller;
    }

    .media {
        display: block;
        margin: 0px;
        padding: 0px;
    }

    .navbar {
        height: 5rem;
        width: 100%;
    }

    .index_res {
        display: block;
    }

    .index_grand_container_res:hover > .index_container_res {
        left: 0;
        display: block;
        background-color: #222222;
        z-index: 100;
        padding: 0.5rem;
    }

    .index_grand_container_res:hover > .navbar {
        height: 15rem;
        background-color: #222222;
    }

    h1, h2 {
        font-size: smaller;
    }

}