* {
    font-family: 'Russo One', sans-serif;
    color:#583d02;
}

.gradient {
    background: -webkit-linear-gradient(left, #ffffff 4%, #eeee9f 98%), -webkit-linear-gradient(16deg, rgba(255, 240, 191, 0.5) 54%, rgba(228, 213, 6, 0.5) 100%);
    background: linear-gradient(90deg, #ffffff 4%, #fcfc82 98%), linear-gradient(74deg, rgba(194, 187, 98, 0.5) 54%, rgba(212, 199, 8, 0.5) 100%);
    background-blend-mode: multiply;
}
    
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}

.index, .log {
    display: inline-block;
    padding: 10px;
}

.log {
    padding-right: 20px;
}

.media {
    display: inline;
    padding: 10px;
}
footer {
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
   }

footer > .container {
    padding-right: 5px;
    padding-left: 5px;
 }

.media {
    margin: 15px;
    padding: 15px;
}

input {
    background-color: #eeee9f;
    width: 300px;
}

button {
    background-color: #583d02;
    color:#eeee9f;
}

main {
    background-color: #eeee9f;
    align-content: center;
    height: 450px;
    position: relative;
    width: 100%;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #583d02;
}

form, p, img, figcaption, h1 {
    padding: 20px;
}

h1 {
    font-size: x-large;
}

#search_bar {
    padding-top: 10px;
}

#message {
    height: 200px;
    position: relative;
}
