* {
    font-family: 'Russo One', sans-serif;
    color:#ffee00;
}

.gradient {
    background: -webkit-linear-gradient(left, #332e00 4%, #000000 98%), -webkit-linear-gradient(16deg, rgba(34, 32, 25, 0.5) 54%, rgba(32, 30, 1, 0.5) 100%);
    background: linear-gradient(90deg, #2c2b00 4%, #000000 98%), linear-gradient(74deg, rgba(37, 36, 17, 0.5) 54%, rgba(31, 29, 2, 0.5) 100%);
    background-blend-mode: multiply;
}

.index, .log {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.log {
    padding-right: 20px;
}

.media {
    display: inline;
    margin: 15px;
    border-radius: 10%;
}

footer {
    width: 100%;
    height: 40px;
    line-height: 40px; /* Vertically center the text there */
   }

a:link, a:visited, a:active {
    text-decoration: none;
    color: #583d02;
}

.container {
    padding-right: 5px;
    padding-left: 5px;
 }

main {

    min-height: 430px;
    width: 100%;
}

h1 {
    font-size: x-large;
}

#search_bar {
    padding-top: 10px;
}

#message {
    height: 200px;
    position: relative;
}

button {
    border-radius: 20%;
    background-color: #ffee00;
    color:#000000;
}

button:hover {
    background-color: #fff894;
    -webkit-box-shadow: -1px 9px 40px -12px rgb(48, 48, 2);
    box-shadow: #fff894;
}

.card {
    min-height: 22rem;
}

.card:hover, .index:hover, .log:hover {
    -webkit-box-shadow: -1px 9px 40px -12px rgba(255,255,0);
    box-shadow: #fff894;
}

.index, .log {
    border-radius: 20%;
}

.form-mine {
    width: 90%;
    margin: 0.5rem 1rem;
    background-color: #000000;
    border: #2c2b00 0.3px solid;
    color:#fffcd7;
    font-weight: 0.5;
}

.form-mine::placeholder {
    color:#332e00;
}

.form-mine:hover {
    border: #fff894 0.3px solid;
}

td {
    padding: 0.3rem;
}

.favourite_game {
    border-bottom: #fff894 solid 0.3px;
    border-top: #fff894 solid 0.3px;
}

.card-description {
    color: #fffcd7;
    font-size: small;
}