{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
<hr>
<form action="/contactus" method="post">
    <i>Please leave your message, name and e-mail to contact you!</i>
    <hr>
    <div>
        <input class="form-mine" autocomplete="off" autofocus id="name" name="name" placeholder="Name" type="text">
    </div>
    <div>
        <textarea class="form-mine" id="message" name="message" placeholder="Message"></textarea>
    </div>
    <div>
        <input class="form-mine" autocomplete="off" id="email" name="email" placeholder="E-mail" type="email"> 
    </div>
    <hr>
    <button type="submit">Send</button>
</form>


{% endblock %}