{% extends "layout.html" %}

{% block title %}
    Games
{% endblock %}

{% block main %}
<hr>
<p>
    These are the games about to be released by Golden DOT Games.
</p>
<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
    {% for game in games %}
    <div class="col">
        <div class="card text-white bg-dark mb-4">
            <img class="card-img-top" src="/static/{{ game["image"] }}" alt="{{ game["game_name"] }}"></a>
            <div class="card-body">
                <h5 class="card-title">{{ game["game_name"] }}</h5>
                <p class="card-text card-description">
                    {{ game["sm_description"] }}
                </p>
            </div>
            <div class="card-body">
                <form class="favourite" action="/add_favourite" method="POST">
                    <input name="id" type="hidden" value="{{ game["id"] }}">
                    <button type="submit">Add to favourites</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}